.columns-wrapper {
  display: flex;
  width: 100%;
  max-height: 80vh;
  overflow: auto;
  padding-top: 1em;
}
.columns-wrapper .column {
  min-width: 250px;
  margin: 0 0.5em;
  display: flex;
  flex-direction: column;
}
.columns-wrapper .column .card {
  background: var(--paper);
  margin: 0.5em 0;
  width: 100%;
  box-shadow: 0px 5px 10px -5px var(--shadow);
}
.card header {
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
}
.card .entry {
  padding: 0.5em;
}
.card .entry .key {
  text-transform: uppercase;
  opacity: 0.5;
}
.card .entry .value {
  font-weight: bold;
  margin-left: 0.5em;
}
